@font-face {
  font-family: Roboto;
  src: url(../fonts/RobotoCondensed-Light.ttf);
}
.nav1 {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  background-image: url(../img/background.jpeg.opdownload);
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
  margin-top: 70px;
  width: calc(100% - 70px);
}

nav {
  background-color: darkgray;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}
.saulgoodman {
  display: inline;
}

.nav1 > ul > li {
  font-weight: bold;
}

header > #sobremi {
  display: grid;
  color: white;
  width: 100%;
  height: 360px;
  font-size: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "imagen text";
  gap: 20px;
}

.imagen {
  grid-area: imagen;
}

.text {
  grid-area: text;
}

#quehago {
  background-image: url(../img/saulsentado.jpg);
  background-repeat: no-repeat;
  border: 3px solid gray;
  padding: 3px;
}

.carrera {
  color: rgb(255, 255, 255);
}
.carrera > p {
  font-size: 20px;
}

.contrato {
  display: grid;
  color: white;
  width: 100%;
  height: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logro contratar";
  gap: 20px;
}

#logros {
  grid-area: logro;
}
#logros > h2 {
  text-align: center;
}

#contratar {
  grid-area: contratar;
}

#contratar > ul > li > a {
  color: white;
}

ul {
  list-style: none;
}
