body {
  background-color: grey;
}
nav {
  background-color: darkgray;
}

header,
main,
section,
footer,
nav,
div {
  border: 1px solid black;
  margin: 5px;
}
.nav1 {
  text-align: center;
  vertical-align: center;
}
h1 {
  text-align: center;
}
.saulgoodman {
  display: inline;
}
